/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
  }

  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    align-items: center;
  }
  
  /* Header styles */
  header {
    background-color: #e60012;
    color: #fff;
    padding: 20px 0;
  }
  
  header a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Navigation styles */
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
    font: bold;
  }
  
  nav ul li a:hover {
    background-color: #fff;
    color: #e60012;
  }
  
  /* Main styles */
  main {
    background-color: #f2f2f2;
    padding: 20px 0;
    align-items: center;
  }
  
  h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 80px;
  }
  
  .games-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .games-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .games-list li {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }

  .games-list li div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .games-list li img:first-child {
    margin-right: 10px;
  }

  .games-list li img:last-child {
    padding-left: 10px;
  }
  
  .games-list li h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  
  .platform-logo {
    margin-left: auto;
  }
  